# 꿈의대학 첫 시작
## 파이썬 기초
- 오늘 수업한다. 집에 가고 싶어...
- 수행

In [1]:
print("Hellow World")

Hellow World

숫자랑

In [3]:
123456

123456

In [6]:
print("안녕하세요")

안녕하세요

In [14]:
print(1+3) # 덧셈

4

In [8]:
print(2-3) # 뺄셈

-1

In [9]:
print(2*3) # 곱셈

6

In [10]:
print(2/3) # 나눗셈

0.6666666666666666

In [12]:
print(2//3) # 몫

0

In [13]:
print(2%3) # 나머지

2

In [16]:
print("강아지" + "고양이")

강아지고양이

In [17]:
print('호랑이')

호랑이

In [18]:
print("I'm boy")

I'm boy

In [21]:
print("결과값은",2*7,"입니다.")

결과값은 14 입니다.

In [22]:
print("100"+"200")

100200

In [23]:
print(100+200)

300

In [28]:
print("반가워요"*20)

반가워요반가워요반가워요반가워요반가워요반가워요반가워요반가워요반가워요반가워요반가워요반가워요반가워요반가워요반가워요반가워요반가워요반가워요반가워요반가워요

In [34]:
x = 100 # 변수

In [35]:
print(x)

100

In [36]:
x = 100
x = 200
print(x)

200

In [38]:
x = 100
y = 200
sum = x + y
print(sum)

300

In [45]:
name="홍길동"
adress="안산시 어딘가"
print(name,adress)

홍길동 안산시 어딘가

In [43]:
print(adress)

안산시 어딘가

In [47]:
score = 10
score = score + 1
print(score)

11

In [49]:
print(x,"과",y,"의 합은",sum,"입니다.")

100 과 200 의 합은 300 입니다.

In [65]:
x = int(input())
y = int(input())
sum = x + y
print(x,"과",y,"의 합은",sum,"입니다.")

500 과 500 의 합은 1000 입니다.

In [1]:
name = input("이름을 입력하세요: ")
print(name,"씨,안녕하세요?")
print("파이썬에 오신 것을 환영합니다.")
x = int(input("첫 번째 정수를 입력하세요: "))
y = int(input("두 번째 정수를 입력하세요: "))
sum = x + y
print(x,"과",y,"의 합은",sum,"입니다.")

김태균 씨,안녕하세요?
파이썬에 오신 것을 환영합니다.
44 과 44 의 합은 88 입니다.